<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="posts">
      <ion-label>Feed</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="new-post">
      <ion-label>Novo</ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-label>Perfil</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
